.image-card {
  display: flex;
  background: #eee;

  .photo-info {
    padding: 30px;
    flex: 1;
  }
}
.img-wrap {
  position: relative;
  canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0
  }
}
