@import "../../styles/varibales";

.image-card {
  display: flex;
  background: #eee;

  .photo-info {
    padding: 30px;
    flex: 1;
  }
  @media screen and (max-width: $md){
    .photo-info {
      min-width: 40vw;
    }
  }
  @media screen and (max-width: $sm){
    flex-direction: column;

  }
}
.img-wrap {
  position: relative;
  canvas {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0
  }
}
