$size: 30px;
$color-active: #ea3683;
$color-bg: #2d284d;
$color-text: #333;
.switch {
  display: inline-block;
  position: relative;
  input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    &:checked {
      z-index: 1;
      + label
      {
        opacity: 1;
        cursor: default;
      }
    }
    &:not(:checked) {
      + label {

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  label {
    color: $color-text;
    opacity: 0.33;
    transition: opacity 0.25s ease;
    cursor: pointer;
  }
  .toggle-outside {
    height: 100%;
    border-radius: 2rem;
    padding: 0.25rem;
    overflow: hidden;
    transition: 0.25s ease all;
    box-sizing: border-box;
  }
  .toggle-inside {
    border-radius: 50%;
    background: $color-active;
    position: absolute;
    transition: 0.25s ease all;
  }
}
.switch--horizontal {
  height: $size;
  display: block;
  margin: 1rem auto;
  box-sizing: border-box;
  input {
    height: $size;
    width: $size * 2;
    left: $size * 2;
    margin: 0;
    &:checked {
      ~ .toggle-outside {
        .toggle-inside {
          left: 0.2em;
          right: auto;
        }

      }
    }
    ~ input {
      &:checked {
        ~ .toggle-outside {
          .toggle-inside {
            right: 0.2em;
            left: auto;
            background: #2865d5;
          }
        }
      }
    }
  }
  label {
    font-size: $size/2;
    line-height: $size;
    display: inline-block;
    width: $size * 2;
    height: 100%;
    margin: 0;
    text-align: center;
    &:last-of-type {
      margin-left: $size * 2;
    }
  }
  .toggle-outside {
    background: $color-bg;
    position: absolute;
    width: $size * 2;
    left: $size * 2;
  }
  .toggle-inside {
    height: calc(#{$size} - 0.4em);
    width: calc(#{$size} - 0.4em);
  }
}
