@import "../../styles/varibales";

.app-header-wrap {
  background: $navDark;
  padding: 20px 0;
  margin-bottom: 20px;
}

.author {
  float: right;
  color: rgba(white, 0.7);
  font-size: 0.75em;
}

.logo {
  @media screen and (max-width: $md){
    max-width: 100px;
  }
}
