@import "../../styles/varibales";

.image-list {
  display: flex;
  flex-wrap: wrap;
  .image-item {
    max-width: 20%;
    padding: 1rem;
    img {
      $size: 200px;
      height: $size;
      object-fit: cover;
      width: 100%;
    }
  }
  @media screen and (max-width: $container) {
    .image-item {
      max-width: 25%;
    }
  }
  @media screen and (max-width: $md) {
    .image-item {
      max-width: 50%;
    }
  }
}


.load-more-btn {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0 ;
}

.to-top{
  $size: 60px;
  position: fixed;
  height: $size;
  width: $size;
  background: aliceblue;
  bottom: $size/2;
  right: $size/2;
  border-radius: 50%;
  border: 1px solid;
  cursor: pointer;
}
